.rich-text-editor {
    h1 {
        font-size: 2rem;
        font-weight: bold;
    }

}

.rich-text-editor h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

.rich-text-editor h3 {
    font-size: 1.25rem;
    font-weight: bold;
}
